.button-animation-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    outline: none;
    width: max-content;
    height: max-content;
  }
  