.cs-spinner {
  width: 50px;
  height: 50px;
  stroke-width: 10px;
  animation-duration: 1s;
  fill: rgba(20, 20, 20, 0.6);
}

.loading-dialog {
  width: 100%;
  height: 100%;
  z-index: 9999;
  position: fixed;
  background-color: rgba(20, 20, 20, 0.6);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.button-primary-active {
  background: var(--color-primary-active);
}

.scale-animation-active {
  transition: transform 0.3s ease;
  cursor: pointer;
}

.scale-animation-active:active {
  transform: scale(0.9);
}

.input-no-control-wrp {
  position: relative;

  .inc {
    padding: 0.25rem 0.5rem 0.25rem 2.5rem;
    border: 2px solid var(--color-primary-light);
    border-radius: 9999px;
    width: 100%;
    color: black;
    transition: border-color 0.2s ease-in-out, border-width 0.2s ease-in-out;
  }

  .inc-search-icon {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    transition: color 0.2s ease-in-out;
  }

  .inc:focus {
    border-color: var(--color-orange-focus);
    outline: none;
    border-width: 3px;
  }

  .inc:focus+.inc-search-icon {
    color: var(--color-orange-focus);
  }
}

.skeleton-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.skeleton {
  background: linear-gradient(90deg,
      rgba(73, 187, 189, 0.2) 25%,
      rgba(73, 187, 189, 0.4) 50%,
      rgba(73, 187, 189, 0.2) 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite linear;
  border-radius: 4px;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}