.cs-table-wrapper {
    box-shadow: rgba(0, 19, 34, 0.35) 0px 0px 10px;
    margin: 1rem;
    color: black;
    padding: 1rem;

    .cs-table {
        border-collapse: collapse;

        .cs-header {
            background-color: var(--color-primary);
            color: white;
        }

        .cs-header-first {
            border-radius: 5px 0px 0px 5px;
            background-clip: unset;
        }

        .cs-header-last {
            border-radius: 0px 5px 5px 0px;
            background-clip: unset;
        }
    }

    .cs-table th,
    .cs-table td {
        border: 1.5px solid white;
        padding: 8px;
        text-align: left;
    }

    .cs-cell {
        padding-inline: 1rem !important;
    }

    .cs-table tbody tr:nth-child(odd) {
        background-color: white;
    }

    .cs-table tbody tr:nth-child(even) {
        background-color: var(--color-primary-light-dim);
    }

    .cs-paginator {
        gap: 10px;
        padding-top: 10px;
        width: 100%;
        position: relative;

        .p-paginator-pages {
            button {
                margin-inline: 10px;
                padding-inline: 10px;
                padding-block: 2px;
                border-radius: 5px;
            }

            .p-highlight {
                background-color: var(--color-orange-focus);
                color: white !important;
                font-weight: bold;
                border-radius: 8px;
            }

            .p-paginator-page:hover {
                background-color: var(--color-orange-hover);
                color: black !important;
            }
        }

        .p-dropdown {
            position: absolute;
            right: 0;
            display: flex;
            gap: 10px;
            width: 70px;
            border: 1px solid var(--color-primary);
            padding-inline: 10px;
            padding-block: 2px;
            border-radius: 5px;
        }
    }

    .cs-paginator-btn {
        background-color: var(--color-primary);
        color: white;
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
    }

    .cs-paginator-btn:disabled {
        background-color: gray;
        cursor: not-allowed;
    }

    .cs-paginator-text {
        font-weight: bold;
    }


}

.p-dropdown-panel {
    .p-dropdown-item-label {
        color: black !important;
        display: flex;
        align-items: center;
        padding-inline: 10px;
    }

    .p-dropdown-item {
        background-color: white;
    }
}