@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-black: #000000;
  --primary: rgba(73, 187, 189, 1);
  --color-primary: rgba(73, 187, 189, 1);
  --color-primary-light: rgb(90, 220, 223);
  --primary-active: rgba(55, 155, 155, 0.8);
  --sidebar: rgba(157, 204, 255, 1);
  --padding-center-pc: 300px;
  --padding-center-mobile: 10px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
